body {
  text-align: center;
  background-size: cover;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-weight: 200;
  font-size: 1.3em;
  background: rgb(240, 250, 255);
}

footer hr {
  margin: 1rem auto;
  width: 30%;
  opacity: 1;
  border-top: 5px solid #4481eb;
}

b {
  font-weight: normal;
}

h1,
h2 {
  font-weight: 500 !important;
}

h2 {
  color: #4481eb;
}
a {
  color: #00beff;
}

.box-shadow-blue {
  /* box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75); */
  box-shadow: 2px 5px 18px 2px rgba(65, 132, 234, 0.5);
  -webkit-box-shadow: 2px 5px 18px 2px rgba(65, 132, 234, 0.5);
  -moz-box-shadow: 2px 5px 18px 2px rgba(65, 132, 234, 0.5);
}

.description-b {
  font-weight: inherit;
}
nav.navbar {
  background-color: #4481eb;
}

nav.navbar a {
  font-weight: 400;
  display: inline-block;
  margin: 0 5px 0 0;
  color: white;
  text-decoration: none;
  transition: border-bottom 0.3s ease, color 0.3s ease,
    background-color 0.3s ease;
}

.project-container-image {
  max-height: 500px;
  margin-top: auto;
  margin-bottom: auto;
}
.project-container {
  display: flex;
  justify-content: center;
}
.project-container-onlinedice {
  background: rgb(106 104 207);
  background: -moz-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgb(106 104 207) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgb(106 104 207) 100%
  );
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgb(106 104 207) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#6a68cf",GradientType=1);
}
.project-container-ledcube {
  background: rgb(19 15 100);
  background: -moz-linear-gradient(
    45deg,
    rgb(207 47 183) 0%,
    rgb(19 15 100) 65%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgb(207 47 183) 0%,
    rgb(19 15 100) 65%
  );
  background: linear-gradient(45deg, rgb(207 47 183) 0%, rgb(19 15 100) 65%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cf2fb7",endColorstr="#130f64",GradientType=1);
}
.project-container-leigthlive {
  background: rgb(191, 100, 195);
  background: -moz-linear-gradient(215deg, rgb(77 4 78) 0%, rgb(44 6 64) 100%);
  background: -webkit-linear-gradient(
    215deg,
    rgb(77 4 78) 0%,
    rgb(44 6 64) 100%
  );
  background: linear-gradient(215deg, rgb(77 4 78) 0%, rgb(44 6 64) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d044e",endColorstr="#2c0640",GradientType=1);
}
.project-container-rogercodes {
  background: rgb(192, 66, 156);
  background: linear-gradient(45deg, rgb(192 66 156) 0%, rgb(63 147 219) 100%);
}
.project-project-controlpracticas {
  background: rgb(245, 141, 124);
  background: -moz-linear-gradient(
    90deg,
    rgb(245 141 124) 50%,
    rgb(207 144 83) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(245 141 124) 50%,
    rgb(207 144 83) 100%
  );
  background: linear-gradient(
    90deg,
    rgb(245 141 124) 50%,
    rgb(207 144 83) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f58c7c",endColorstr="#cf9153",GradientType=1);
}

/*Card Button*/
.button-blue,
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  font-size: 16px !important;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 40px;
  border: none !important;
  border-radius: 50px !important;
  background: none !important;
  background-color: #4481eb !important;
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  transition: background-color 0.3s ease;
}

.button-blue:hover,
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:hover {
  background-color: #00beff !important;
  color: white !important;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus {
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75) !important;
  background-color: #00beff !important;
}
div:where(.swal2-container)
  div:where(.swal2-actions):not(.swal2-loading).swal2-styled:hover {
  background-image: none !important;
}

div:where(.swal2-container) button:where(.swal2-close):focus {
  box-shadow: none !important;
}
.button-email-width {
  width: 300px;
}

.project-tech-list {
  list-style: none;
}
.project-tech-list li {
  display: inline-block;
  border: 1px solid #4481eb;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
}
.project-tech-list li p {
  margin: 0;
}

.project-modal-container {
  background-color: rgb(231, 246, 255);
  border-radius: 15px;
  z-index: 200;
}
#project-modal-container-iframe {
  width: 100% !important;
  height: 60vh !important;
  position: relative;
  z-index: 200;
}

.project-modal-container-iframe-loader {
  color: #00beff;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999em;
  animation: project-ledCube-IframeVideo-loader-animation 1.3s infinite linear;
  transform: translateY(200px);
}

@keyframes project-ledCube-IframeVideo-loader-animation {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

/*Terminal*/

.terminal {
  text-align: start;
  background-color: #180020;
  color: #fff;
}
.terminal-link {
  background-color: transparent;
  border: none;
  color: #00beff;
  font-weight: 200;
}
.terminal-link:hover {
  color: #23d9fd;
  cursor: pointer;
}
.terminal-window {
  overflow-wrap: break-word;
}
.terminal-taskbar {
  background-color: rgb(228, 228, 228);
  height: 40px;
  color: black;
  padding: 10px 10px;
}

.terminal-taskbar-button {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: inline-block;
  margin-left: 10px;
}

.terminal-ascii-art {
  font-size: xx-small;
}
.array-list-items {
  list-style: none;
}
.array-list-items a,
.home-about a {
  text-decoration: none;
  transition: all 0.3s ease;
}
.array-list-items a:hover,
.home-about a:hover {
  color: #23d9fd;
}
.terminal-array-color,
.array-list-items {
  color: yellow;
}
.terminal-line-start-char:before {
  content: ">";
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.terminal-line-blink-effect:after {
  -webkit-animation: terminal-line-effect-blink-animation 1s linear 1s infinite;
  animation: terminal-line-effect-blink-animation 1s linear 1s infinite;
  content: " ";
  width: 18px;
  height: 18px;
  margin-left: 1px;
  background: #00beff;
}

@-webkit-keyframes terminal-line-effect-blink-animation {
  0% {
    background: none;
  }

  50% {
    background: none;
  }

  51% {
    background: #00beff;
  }

  100% {
    background: #00beff;
  }
}

@keyframes terminal-line-effect-blink-animation {
  0% {
    background: none;
  }

  50% {
    background: none;
  }

  51% {
    background: #00beff;
  }

  100% {
    background: #00beff;
  }
}

/*Bootstrap Changes*/
.navbar-nav .nav-link:hover {
  background-color: rgb(0, 190, 255);
  color: #fff;
}
.navbar-nav .nav-link.active {
  background-color: rgb(0, 190, 255) !important;
  color: #fff !important;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: #fff;
}

.navbar-brand:hover {
  border: 0 !important;
}
.navbar-toggler {
  border: 1px solid #fff;
  background-color: rgb(0, 190, 255);
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28 255, 255, 255, 1 %29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.card {
  border: 0;
}

/*Responsive Breakpoints*/
@media only screen and (max-width: 576px) {
  .terminal-ascii-art {
    font-size: 6px;
  }
  p .terminal-array-color {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media only screen and (min-width: 768px) {
  .swal2-modal {
    width: 80% !important;
  }
}

/*Selection*/

::selection {
  background: #00beff;
}

/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: #7789b7;
}
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #0073cc;
  border-radius: 25px;
  transition: background-color 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00beff;
}
